@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {

    box-sizing: border-box;

}

body{

    background-color: #667080;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 10px;

}

header, footer{

    background-color: #9E77ED;

}

.titulo{

    height: 10em;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;

}

h1{

    font-size: 4rem;
    letter-spacing: -0.02em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    color: #F4EBFF;

}

article{

    padding: 2.5em 30em;
    
}



p{

    max-width: 700px;
    font-size: 1.2rem;
    color: #F4EBFF;
    line-height: 28px;
    display: flex;
    align-self: flex-start;
    letter-spacing: -0.02em;
    font-weight: 300;
    
}

footer {

    height: 10rem;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}

footer > div {

    max-width: 700px;
    font-size: 0.8rem;
    color: #F4EBFF;
    margin: 30px;

}

a > img {

    width: 30px;
    margin: 30px;

}


h2 {

    font-size: 3em;
    font-weight: bold;
    color: #F4EBFF;

}

.subtitulo {

    font-size: 1.8em;
    font-weight: lighter;
    color: #F4EBFF;

}

.homens {

    background-color: #D2D0D0;
    color: black;
}

.mulheres {

    background-color: #F6CA57;
    color: black;
}

.fonte {

    font-size: 1.2em;
    font-weight: lighter;
    color: #F4EBFF;

}

.grafico-1{

    font-weight: 400;
    width: 100%;
    max-width: 700px;
    height: 600px;
    display: grid;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-columns: 1fr;
    padding-bottom: 3em;

}

.grafico-1, .grafico-2, .mapa, .lista, h2 > div{

    padding: 15px 30px;

}


.grafico-barra, img, .mapa, .area-lista {

    display: grid;
    grid-template-rows: 1fr;

}

.data{

    display: flex;
    flex-direction: row;
    font-size: 1.4em;
    font-weight: 400;
    color: #F4EBFF;
    border-top: 1px solid #333;

}

.data > div{

    flex-grow: 1;
    text-align: center;
    line-height: 0px;
    padding: 25px;

}

.barras {

    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 10px;
    align-items: flex-end;

}

.barras > div {
    
    flex-grow: 1;
    flex-basis: 100%;
    text-align: center;
    color: #667080;

}

.h-1994 {
    
    height: calc((480/513)*100%);
    background-color: #D2D0D0;

}

.m-1994 {

    height: calc((33/513)*100%);
    background-color: #F6CA56;

}

.h-1998 {
    
    height: calc((485/513)*100%);
    background-color: #D2D0D0;

}

.m-1998 {

    height: calc((28/513)*100%);
    background-color: #F6CA56;

}

.h-2002 {
    
    height: calc((470/513)*100%);
    background-color: #D2D0D0;

}

.m-2002 {

    height: calc((43/513)*100%);
    background-color: #F6CA56;

}

.h-2006 {
    
    height: calc((468/513)*100%);
    background-color: #D2D0D0;

}

.m-2006 {

    height: calc((45/513)*100%);
    background-color: #F6CA56;

}

.h-2010 {
    
    height: calc((468/513)*100%);
    background-color: #D2D0D0;

}

.m-2010 {

    height: calc((45/513)*100%);
    background-color: #F6CA56;

}

.h-2014 {
    
    height: calc((462/513)*100%);
    background-color: #D2D0D0;

}

.m-2014 {

    height: calc((51/513)*100%);
    background-color: #F6CA56;

}

.h-2018 {
    
    height: calc((436/513)*100%);
    background-color: #D2D0D0;

}

.m-2018 {

    height: calc((77/513)*100%);
    background-color: #F6CA56;

}

.grafico-2{

    font-weight: 400;
    width: 100%;
    max-width: 700px;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    padding-bottom: 3em;
    padding: 15px 30px;

}

img{

    margin: 30px 0px;

}



.mapa {

    width: 100%;
    max-width: 700px;
    height: 900px;
    padding-bottom: 3em;

}

.area-lista{

    display: grid;
    max-width: 300px;
    width: 100%;
    grid-template-columns: 50% 50%;
    padding: 3em 0;

}

.titulo{

    font-size: 1.6em;
    font-weight: bold;
    text-align: center;

}

.area-lista > div{

    padding: 10px;
    background-color: #F7CA56;
    border: 1px solid #F4EBFF;
    min-height: 48px;
    color: #667080;

}

.partido {

    font-size: 1.3em;
    font-weight: 700;

}

.eleitas {

    font-size: 1.3em;
    font-weight: 500;

}

